---
export type Props = Record<string, never>;
---

<dl class="mx-auto grid gap-4 text-center">
	<div>
		<dt class="text-xl font-bold">日時</dt>
		<dd>毎週火・木曜日 16:30〜18:30</dd>
	</div>
	<div>
		<dt class="text-xl font-bold">場所</dt>
		<dd>電気電子工学科棟 3F ラボラトリ3の隣の部屋</dd>
	</div>
</dl>
