---
import { Icon } from "astro-icon/components";

import * as styles from "./Header.css";
---

<header class={styles.header}>
	<a href="/">
		<Icon name="logo" class={styles.brand} />
	</a>
</header>
