---
import "~/styles/global.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />

		{/* SEO */}
		<title>
			{title ?? "情報技術研究部"}
		</title>
		<meta
			name="description"
			content="長野高専のIT系部活動、情報技術研究部の公式サイトです。部活動紹介や活動報告、お知らせなどを掲載しています。"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
